@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2C3E50;
  --secondary-color: #E74C3C;
  --accent-color:  #3498DB;
  --background-color: #F2F2F2;
  --text-color: #333333;
  --success-color: #27AE60;
  --warning-color: #F39C12;
  --error-color: #C0392B;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #FFFFFF;
    --secondary-color: #E74C3C ;
    --accent-color:  #3498DB;
    --background-color: #1E272E;
    --text-color: #FFFFFF;
    --success-color: #27AE60;
    --warning-color: #F39C12;
    --error-color: #C0392B;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
